* {
    font-family: 'Montserrat', sans-serif;
}

header {
    max-width: 1080px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.imgHeader {
    max-width: 250px;
    height: auto;
    border-radius: 10%;
}

.textHeader {
    width: 60%;
}

.navbar{
    margin: auto;
}

section {
    margin: 50px auto;
    width: 50%;
    min-width: 250px;
}

