* {
    font-family: 'Montserrat', sans-serif;
}

header {
    max-width: 1080px;
    height: 93vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.textHeader {
    width: 60%;
}

h1 {
    font-size: 3rem;
    max-width: 500px;
    color: #3f92a7 !important;
    font-weight: bold;
}

.imgHeader {
    max-width: 250px;
    height: auto;
    border-radius: 10%;
}

#nav {
    background-color: #8CBDCB;
    min-height: 7vh;
} 

.navbar-nav {
    margin: auto;
}

#nav.fixed-nav {
    position:fixed;
    top:0;
    width:100%;
}

.nav-link {
    text-align: center;
    color: white !important;
    font-size: 1.2rem !important;
}

section {
    margin: 50px auto;
    width: 60%;
    min-width: 250px;
}

@media (max-width: 1250px) {
    section {
        width: 95%;
        margin: 20px auto;
    }
  }
  
.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.screenshots {
    min-width: 200px;
}

.projectsText {
    width: 40%;
}

hr {
    width: 50%;
    margin: 50px auto !important;
}

footer {
    width: 100%;
    position: relative;
    background-color: #8CBDCB;
    margin: 0 auto;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.copyrights {
    margin: auto !important;
}