* {
    font-family: 'Montserrat', sans-serif;
    color: rgb(249, 249, 238);
}

body {
    background-color: #0A1828 !important;
}

header {
    max-width: 1080px;
    height: 93vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.textHeader {
    width: 60%;
}

h1 {
    font-size: 3rem;
    max-width: 600px;
    color: #82752A !important;
    font-weight: bold !important;
    margin-bottom: 0.5em !important;
}

h2 {
    color: #82752A !important;
    margin-bottom: 1.3em !important;
    margin-left: 5%;
}

.imgHeader {
    max-width: 250px;
    min-width: 150px;
    height: auto;
    border-radius: 10%;
}

#nav {
    background-color: #178582;
    min-height: 7vh;
    z-index: 999;
} 

.navbar-nav {
    margin: auto;
}

#nav.fixed-nav {
    position:fixed;
    top:0;
    width:100%;
}

.nav-link {
    text-align: center;
    color: #0A1828 !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.top {
    --offset: 50px; 
  
    font-size: 2em;
    position: sticky;
    bottom: 40px;      
    margin-right: 15px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    margin-bottom: 30px;
    left: 97%;
    /* visual styling */
    text-decoration: none;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #0A1828;
    background-color: #178582;
    border-radius: 150px;
    white-space: nowrap;
}

.stopTopButton {
    margin-top: 1em;
}

#projects {
    margin: 50px auto 100px auto;
    width: 70%;
    min-width: 250px;
    font-size: 1em;
}

section {
    margin: 50px auto 100px auto;
    width: 60%;
    min-width: 250px;
    font-size: 1em;
}
  
.projects1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 40px auto 60px auto;
}

.projects2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 40px auto 60px auto;
}

.screenshots {
    min-width: 200px;
    max-width: 450px;
    border-radius: 10px;
}

.projectsText {
    width: 50%;
}

hr {
    width: 30%;
    margin: 50px auto !important;
    border-top: 1px solid #82752A !important;
    opacity: 0.8 !important;
}

.aboutMeTexts {
    text-align: center;
    font-size: 1em;
}

.skills {
    list-style-type: none;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills > li {
    width: 100px;
    margin: 20px;
    text-align: center;
    font-size: 1.1em;
}

.skillsIcons {
    width: 80px;
    margin: 10px;
}

footer {
    width: 100%;
    position: relative;
    background-color: #178582;
    height: auto;
    margin: 0 auto;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.copyrights {
    margin: auto !important;
    color: #0A1828 !important;
}

.fill {
    font-size: 20px;
    font-weight: 200;
    color: #0A1828;
    padding: 13px 50px 13px;
    outline: 0;
    border: 2px solid #178582;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
  
.fill::after {
    content: "";
    background-color: #178582;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
  
.fill:hover::after {
    top: 0px;
    left: 0px;
}

.projectsButtons {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carousel-control-next,
.carousel-control-prev, 
.carousel-indicators {
    filter: invert(100%);
}

@media screen and (max-width: 1279px) {
    #projects {
        width: 90%;
        font-size: 0.9em;
    }

  }

@media screen and (max-width: 1000px) {
    section {
        width: 95%;
        margin: 20px auto;
    }

    .screenshots {
        max-width: 300px;
    }

  }