* {
    font-family: 'Montserrat', sans-serif;
    color: #EDE2DC;
}

body {
    background-color: #234f70d3 !important;
}

header {
    max-width: 1080px;
    height: 93vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.textHeader {
    width: 60%;
}

h1 {
    font-size: 3rem;
    max-width: 600px;
    color: #FAF8BF !important;
    font-weight: bold;
    margin-bottom: 0.5em !important;
}

h2 {
    color: #faf8bfe0 !important;
    margin-bottom: 1.3em !important;
    margin-left: 5%;
}

.imgHeader {
    max-width: 250px;
    min-width: 150px;
    height: auto;
    border-radius: 10%;
}

#nav {
    background-color: #FAF8BF;
    min-height: 7vh;
} 

.navbar-nav {
    margin: auto;
}

#nav.fixed-nav {
    position:fixed;
    top:0;
    width:100%;
}

.nav-link {
    text-align: center;
    color: #234E70 !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.top {
    --offset: 50px; 
  
    font-size: 2em;
    position: sticky;
    bottom: 40px;      
    margin-right: 15px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    margin-bottom: 30px;
    left: 97%;
    /* visual styling */
    text-decoration: none;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #234E70;
    background-color: #FAF8BF;
    border-radius: 150px;
    white-space: nowrap;
}

.stopTopButton {
    margin-top: 1em;
}

section {
    margin: 50px auto 100px auto;
    width: 60%;
    min-width: 250px;
}

@media (max-width: 1250px) {
    section {
        width: 95%;
        margin: 20px auto;
    }

    .screenshots {
        max-width: 300px;
    }
  }
  
.projects1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 60px auto;
}

.projects2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 60px auto;
}

.screenshots {
    min-width: 200px;
    max-width: 550px;
    border-radius: 10px;
}

.projectsText {
    width: 50%;
}

hr {
    width: 30%;
    margin: 50px auto !important;
    height: 3px;
    background-color: #FAF8BF;
}

.skills {
    list-style-type: none;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills > li {
    width: 100px;
    margin: 20px;
    text-align: center;
    font-size: 1.1em;
}

.skillsIcons {
    width: 80px;
    margin: 10px;
}

footer {
    width: 100%;
    position: relative;
    background-color: #FAF8BF;
    margin: 0 auto;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.copyrights {
    margin: auto !important;
    color: #234E70 !important;
}

.fill {
    font-size: 20px;
    font-weight: 200;
    color: #234E70;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid #FAF8BF;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
  
.fill::after {
    content: "";
    background-color: #FAF8BF;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
  
.fill:hover::after {
    top: 0px;
    left: 0px;
}

.projectsButtons {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carousel-control-next,
.carousel-control-prev, 
.carousel-indicators {
    filter: invert(100%);
}